.btn {
    @include flex(center, center);
    border: 0;
    outline: 0;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    padding: 1rem 2rem;

    @include mobile {
        font-size: 1rem;
    }

    &__icon {
        height: 100%;
        width: 10%;
        font-size: 1.5rem;
        margin-right: 0.7rem;
    }

    &-sm {
        font-size: 1rem;
        padding: 0.7rem 1.5rem;
    }

    &-block {
        width: 100%;
    }

    &.bg-white {
        border: 1px solid;
    }
}