.product__list {
    @include flex(flex-end, center);
    flex-direction: column;

    &__table {
        @include flex(center, space-between);
        width: 100%;
        gap: 20px;
        padding: 12px;
        font-size: 12pt;

        & *:not(:first-child):not(:last-child) {
            flex: 1;
        }

        &.title {
            background-color: #d3d3d3;
        }

        &.item {
            height: 120px;
            border-bottom: 1px solid #d3d3d3;
        }

        & .image-wrapper {
            width: 50%;
            height: 100%;
        }

        & img {
            width: 80%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
            cursor: pointer;
        }

        & > *:first-child {
            width: 10%;
        }

        & > *:last-child {
            width: 5%;
        }

        & > i {
            cursor: pointer;
            font-size: 16pt;
            text-align: center;
        }
    }

    & button {
        margin-top: 40px;
        margin-right: 40px;
        width: 200px;
        font-size: 1.2rem;
    }
}