@font-face {
    font-family: "SVN-Gilroy Medium";
    src: local("SVN-Gilroy Medium"), url("../fonts/SVN-Gilroy Medium.otf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

html {
    font-size: 13px;

    @include mobile {
        font-size: 11px;
    }
}

body {
    font-family: "SVN-Gilroy Medium", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: $main-color;
}

img {
    max-width: 100%;
}

@each $color, $val in $colors {
    .color-#{$color} {
        color: $val;
    }

    .bg-#{$color} {
        background-color: $val;
    }
}

@each $val in $numbers {
    .grid-col-#{$val} {
        grid-template-columns: repeat($val, 1fr);
    }
}

@each $val in $numbers {
    .grid-col-md-#{$val} {
        @include tablet {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

@each $val in $numbers {
    .grid-col-sm-#{$val} {
        @include mobile {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

.container {
    width: 100%;
    max-width: 1620px;
    padding: 0 120px;
    margin: auto;

    @include tablet {
        padding: 0 60px;
    }

    @include mobile {
        padding: 0 20px;
    }
}

.main {
    margin-top: calc(#{$header-height} + 40px);
    margin-bottom: 2rem;
    min-height: 100vh;

    @include tablet {
        margin-top: calc(#{$header-tablet-height} + 20px);
    }

    @include mobile {
        margin-top: calc(#{$header-mobile-height} + 20px);
    }
}

.grid {
    display: grid;
}

.toast {
    &__success {
        font-family: "SVN-Gilroy Medium", sans-serif !important;
        color: #119611 !important;
    }

    &__error {
        font-family: "SVN-Gilroy Medium", sans-serif !important;
        color: #e82e2e !important;
    }
}