.catalog {
    @include flex(flex-start, flex-start);

    @include tablet {
        flex-direction: column;
    }

    &__filter {
        width: 20%;
        margin-right: 20px;

        @include tablet {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            margin-right: unset;
            padding: 1rem 3rem;
            background-color: $main-bg;
            z-index: 100;
            transform: translateX(-100%);
            transition: transform 0.3s ease;
        }

        &.active {
            transform: translateX(0);
        }

        &__btn-close {
            display: none;

            @include tablet {
                display: block;
                font-size: 3rem;
                text-align: right;
            }
        }

        &__widget {
            margin-bottom: 2rem;

            &__title {
                margin-bottom: 1rem;
                font-size: 1.25rem;
                font-weight: bold;
                text-transform: capitalize;

                @include mobile {
                    font-size: 1.5rem;
                }
            }

            &__content {
                color: $txt-second-color;

                @include tablet {
                    @include flex(flex-start, flex-start);
                    flex-wrap: wrap;
                }

                &__item {
                    margin-bottom: 1rem;
                    font-size: 1.1rem;

                    @include tablet {
                        width: 50%;
                    }

                    @include mobile {
                        font-size: 1.25rem;
                    }
                }

                button {
                    font-size: 1.1rem;

                    @include tablet {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }

    &__filter__toggle {
        display: none;

        @include tablet {
            display: block;
            margin-bottom: 2rem;
        }
    }

    &__content {
        flex-grow: 1;

        @include tablet {
            width: 100%;
        }
    }
}