.search {
    @include flex(center, center);
    flex-direction: column;

    &__title {
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    &__txt {
        width: 100%;
        margin: 20px 0;
        font-size: 1.5rem;
        line-height: 2.25rem;
        text-align: center;
        
        span {
            color: $main-color;
            font-weight: bold;
        }
    }

    &__result {
        width: 100%;
    }
}