.search {
    @include flex(center, center);
    flex-direction: column;

    &__title {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        font-size: 1.75rem;

        span {
            color: $main-color;
            font-weight: 600;
        }
    }

    &__result {
        width: 100%;
    }
}