.slider {
    position: relative;
    margin-top: -40px;
    margin-bottom: 40px;
    
    @include tablet {
        margin-top: -20px;
    }

    @include mobile {
        width: 100vw;
        margin-left: -20px;
    }
    
    &__image {
        display: none;
        
        &.active {
            display: block;
            pointer-events: visible;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__btn-prev,
    &__btn-next {
        @include flex(center, center);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2.5rem;
        color: $txt-white;
        background-color: #a6aaae;
        border-radius: 50%;
        cursor: pointer;

        @include mobile {
            display: none;
        }
    }

    &__btn-prev {
        left: 15px;
    }

    &__btn-next {
        right: 15px;
    }

    &__dot {
        @include flex(center, center);
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

        @include mobile {
            bottom: 10px;
        }
    }

    &__dot__item {
        width: 8px;
        height: 8px;
        margin-left: 10px;
        background-color: $main-bg;
        border-radius: 50%;
        cursor: pointer;

        @include mobile {
            width: 6px;
            height: 6px;
        }

        &:nth-child(1) {
            margin-left: 0;
        }

        &.active {
            width: 10px;
            height: 10px;
            background-color: $main-color;
            border: 1px solid white;

            @include mobile {
                width: 8px;
                height: 8px;
            }
        }
    }
}